.login-modal {
    padding: 32px;
    overflow-x: hidden;
    width: 420px;
}

.user-lock-icon {
    background-color: rgba(255, 0, 0, 0.1);
    /* border: 2px solid red; */
    padding: 8px;
    border-radius: 50%;
}

.login-modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website-name {
    color: #ff0000;
}

.login-modal-header-subtitle {
    font-size: small;
}

.login-modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 16px;
}

.eye-icon {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}

.eye-icon:hover {
    color: #ff0000;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    background-color: #ff0000;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(226, 8, 8);
}

.login-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.create-account-button {
    font: inherit;
    cursor: pointer;
    color: #ff0000;
    background: none;
    border: none;
}

.create-account-button:hover {
    text-decoration: underline;
}

.login-modal-bottom-strip {
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    width: 100%;
    height: 4px;
    background-color: #ff0000;
}